<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1 style="color:blue;text-align:center"><a href="https://www.instagram.com/majdiggs/">MAJDIGGS</a></h1>
  <br/>
<a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="d0a80969e6d577e9b1cf4252d2f835ee|5|page|1|#ffffff|#ffffff|small|s-hit">Hit Counter</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
</body>
</html>
