<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1 style="color:blue;text-align:center"><a href="https://www.instagram.com/majdiggs/">MAJDIGGS</a></h1>
  <br/>
  
  <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=043e917b30ebc1d189ed35779c835ce47affaa52'></script>



</script>
</body>
</html>
