<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1 style="color:blue;text-align:center"><a href="https://www.instagram.com/majdiggs/">MAJDIGGS</a></h1>
  <br/>


<div class="col-xs-12 mt20" id="bg">
   <div style="margin:0px auto;width:133px;background:rgb(255, 255, 255);text-align:left;display:flex;border-radius:5px">
      <span style="padding:7px;display:inline-block;border-right:1px solid #746dba">
      <a href="http://visitorshitcounter.com" rel="nofollow noopener"  target="_blank" title="https://visitorshitcounter.com/">
      <img src="https://visitorshitcounter.com/img/s-logo.svg" alt="https://visitorshitcounter.com/" style="width:100%;border:none;float:left;display:none;">
      </a>
      </span>
      <span class="text" id="dupli_hit_counter"   style="padding:10px 0 0 0;display:inline-block;color:rgb(255, 255, 255);width:100%;text-align:center;">
      </span>
      </span>
      <input type="hidden" id="site_val"   value="https://visitorshitcounter.com/counterDisplay?code=d0a80969e6d577e9b1cf4252d2f835ee&style=0017&pad=5&type=page&initCount=1">
   </div>
</div>
<script src="https://visitorshitcounter.com/js/badgess.js?v=1592850758"></script>


</body>
</html>
