<!DOCTYPE html>
<html>
<head>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82879638-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82879638-5');
</script>

</head>
<body>
  <h1 style="color:blue;text-align:center"><a href="https://www.instagram.com/majdiggs/">MAJDIGGS</a></h1>
  <br/>


<div class="col-xs-12 mt20" id="bg">
   <div style="margin:0px auto;width:133px;background:rgb(255, 255, 255);text-align:left;display:flex;border-radius:5px">
      <span style="padding:7px;display:none;border-right:1px solid #746dba">
      <a href="http://visitorshitcounter.com" rel="nofollow noopener"  target="_blank" title="https://visitorshitcounter.com/">
      <img src="https://visitorshitcounter.com/img/s-logo.svg" alt="https://visitorshitcounter.com/" style="width:100%;border:none;float:left;display:none;">
      </a>
      </span>
      <span class="text" id="dupli_hit_counter"   style="padding:10px 0 0 0;display:inline-block;color:rgb(255, 255, 255);width:100%;text-align:center;">
      </span>
      </span>
      <input type="hidden" id="site_val"   value="https://visitorshitcounter.com/counterDisplay?code=d0a80969e6d577e9b1cf4252d2f835ee&style=0017&pad=5&type=page&initCount=1">
   </div>
</div>
<script src="https://visitorshitcounter.com/js/badgess.js?v=1592850758"></script>
<br><br><br>

<iframe src="https://opendata.reseaux-energies.fr/explore/embed/dataset/registre-garanties-capacite/analyze/?disjunctive.type&disjunctive.statut&fbclid=IwAR2gNAx6XFpMxfzx7UMFt8BZTypfNgEGrE2eg_4a5jliNOsrSP5WkbnSI0U&sort=-date_saisie&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJjb2x1bW4iLCJmdW5jIjoiU1VNIiwieUF4aXMiOiJxdWFudGl0ZSIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6InJhbmdlLWN1c3RvbSJ9LHsiYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImxpbmUiLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJxdWFudGl0ZSIsInNjaWVudGlmaWNEaXNwbGF5Ijp0cnVlLCJjb2xvciI6InJhbmdlLURhcmsyIn1dLCJ4QXhpcyI6ImFubmVlX2xpdnJhaXNvbiIsIm1heHBvaW50cyI6IiIsInRpbWVzY2FsZSI6InllYXIiLCJzb3J0IjoiIiwic2VyaWVzQnJlYWtkb3duIjoic3RhdHV0Iiwic3RhY2tlZCI6Im5vcm1hbCIsImNvbmZpZyI6eyJkYXRhc2V0IjoicmVnaXN0cmUtZ2FyYW50aWVzLWNhcGFjaXRlIiwib3B0aW9ucyI6eyJkaXNqdW5jdGl2ZS50eXBlIjp0cnVlLCJkaXNqdW5jdGl2ZS5zdGF0dXQiOnRydWUsImZiY2xpZCI6Ikl3QVIyZ05BeDZYRnBNeGZ6eDdVTUZ0OEJaVHlwZk5nRUdyRTJlZ180YTVqbGlOT3NyU1A1V2tiblNJMFUiLCJzb3J0IjoiLWRhdGVfc2Fpc2llIn19fV0sImRpc3BsYXlMZWdlbmQiOnRydWUsImFsaWduTW9udGgiOnRydWUsInRpbWVzY2FsZSI6IiJ9&static=false&datasetcard=true" width="400" height="300" frameborder="0"></iframe>

</body>
</html>
